/* Tablet Responsive */
@media only screen and (max-width:1024px){
    /* Header Menu */
    .menu {
        height:100px;
    }
    .logo img {
        width:60px;
        height:60px;
        margin-top:8px;
        position:relative;
        right:-20px;
    }
    .logo p {
        text-align:center;
    }
    .header_menu ul {
        width:400px;
        float:right;
    }
    .header_menu ul li {
        font-size:14px;
    }
    /* Section Banner */    
    .frase_banner h2 {
        font-size:22px;
    }
    .frase_banner h3 {
        font-size:18px;
        margin:0 0 15px 0;
    }
    .frase_estrutura img {
        position:absolute;
        left:223px;
    }
    .btn-call {
        left:0px;
    }
    /* Section About */
    .about {
        left:300px;
        height:550px;
        top:40px
    }
    .about h1 {
        bottom:450px;
    }
    .about p {
        top:120px;
    }
    /* Section portfolio */
    .estrutura {
        height:630px
    }
    .cards img {
        width:200px;
    }
    .cards h1 {
        font-size:28px
    }
    .card h1{
        margin-top:100px;
        margin-left:-30px;
    }
    .card h1:after,
    .card h1:before {
        width:50px;
        margin-left:35px;
    }
    .card-2 h1{
        margin-top:100px;
        margin-left:-30px;
    }
    .card-2 h1:after,
    .card-2 h1:before {
        width:50px;
        margin-left:35px;
    }
    .card-3 h1{
        margin-top:100px;
        margin-left:-45px;
    }
    .card-3 h1:after,
    .card-3 h1:before {
        width:50px;
        margin-left:40px;
    }
    .card-3 {
        float:right;
        margin-top:-536px;
    }
}
/* Tablet Responsive */

/* Smartphone Responsive */
@media only screen and (max-width:787px) {
    .menu {
        height:130px;
    }
    .logo img {
        width:60px;
        height:60px;
        margin-top:8px;
        position:relative;
        right:-20px;
    }
    .logo p {
        text-align:center;
        margin-top:-70px;
    }
    .header_menu ul {
        margin-top:-35px;
    }
    .header_menu ul li {
        font-size:14px;
    }
    /* Section Banner */
    .frase_banner h1 {
        font-size:48px;
    }
    .frase_banner h2 {
        font-size:18px;
    }
    .frase_banner h3 {
        font-size:14px;
        margin:0 0 15px 0;
    }
    .frase_banner cite{
        font-size:22px;
    }
    .frase_estrutura img {
        position:absolute;
        left:-16px;
    }
    /* Section about */
    .about_estrutura img {
        margin-top:-40px;
    }
    .about {
        margin-top:-30px;
        left:-120px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.16);  
        height:550px;
        top:40px;
    }
    .about p {
        top:100px;
    }
    /* Section portfolio */
    .estrutura {
        height:1400px;
    }
    .cards {
        margin-left:-5px;
    }
    .card {
        margin-left:55px;
        margin-top:-30px
    }
    .card-2 {
        position:relative;
        bottom:130px;
        left:40px
    }
    .card-3 {
        position:relative;
        top:250px;
        left:55px;
    }
}
@media only screen and (max-width:469px) {
    /* Section Banner */
    .frase_estrutura {
        margin-left:-10px;
    }
    /* Section About */
    .subtitle {
        margin-top:40px;
    }
    .about {
        width:400px;
        height:600px;
        left:-50px;
    }
    .about h1 {
        bottom:500px;
    }
    .about p {
        font-size:12px
    }
}

@media only screen and (max-width:415px) /*pixel2, pixel2Xl, iphone 6/7/8 Plus */ {
    /* Section Banner */
    .frase_estrutura {
        margin-left:-30px;
    }
}
@media only screen and (max-width:375px) /* Iphone6,7,8 / iphone X */ {
    /* Section Banner */
    .frase_estrutura {
        margin-left:-45px;
    }
    /* Section About */
    .about {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);  
        width:350px;
        height:700px;
        left:-25px;
    }
    .about h1 {
        bottom:600px;
    }
}
@media only screen and (max-width:360px) /*Moto G4 / Galaxy S5 / */ {
    /* Section Banner */
    .frase_estrutura {
        margin-left:-55px;
    }
}
@media only screen and (max-width:320px) /* Iphone5/SE */ {
    /* Section Banner */
    .frase_estrutura {
        margin-left:-75px;
    }
    /* Section about */
    .about {
        width:300px;
        height:880px;
        left:0px;
    }
    .about h1 {
        bottom:780px;
    }
}
@media only screen and (max-width:280px) /* Galaxy Fold */ {
    /* Header Menu */
    .header_menu ul {
        width:400px;
        position:relative;
        right:30px;
    }
    .header_menu ul li {
        font-size:12px;
    }
    /* Section Banner */
    .frase_estrutura {
        margin-left:-95px;
    }    
}
