/* Section Banner */
.banner_nature {
    background:url(../img/bg-fashion.jpg) no-repeat center;
    background-size:cover;
    width:100%;
    height:300px;
}
.title-nature {
    color:#fff;
    font-size:40px;
    font-weight:bold;
    line-height:33px;
    font-family:Poppins;
    margin-top:160px;
    text-align:center;
}
.title-nature:after {
    content:"";
    width:102px;
    height:3px;
    display:block;
    background:#fff;
    margin:0 auto;
    margin-top:20px;
}
.title-nature:before {
    content:"";
    width:102px;
    height:3px;
    display:block;
    background:#fff;
    margin:0 auto;
    margin-bottom:20px;
}
/* Grid-imgs */
.coluna-1 img{
    margin-top:70px;
    margin-bottom:33px;
}
.coluna-2 img{
    margin-bottom:33px;
}
.footer {
    margin-top:70px;
}
