html, body {
    overflow:auto;
    height:100%;
    scroll-behavior:smooth;
}
/* Start Menu Header */
.menu {
    width:100%;
    height:100px;
    background:#000;
    position:fixed;
    top:0;
    z-index:10;
}

.logo img{
    width:80px;
    height:80px;
    margin-top:5px;
}
.logo p {   
    margin-top:30px;
    margin-left:0;
    font-family:Allura;
    font-size:26px;
    line-height:33px;
    color:#E09145;
}

.header_menu ul{
    text-align:right;
    margin-right:0px;        
}
.header_menu ul li{
    display:inline-block;
    margin-left:25px;    
    margin-top:32px;
    font-family:Poppins;
    font-Size:19px;
    font-weight:500;
    line-height:29px;
    color:#E09145;
}
.header_menu ul .active {
    color:#FCD9B8; 
}
.header_menu ul .active:after {
    content:"";
    width:40px;
    height:3px;
    background:#FCD9B8;
    display:block;
    margin-left:10px;
    margin-top:4px
}
.header_menu ul li:hover {
    transition:ease 0.5s;
    color:#FCD9B8;
}
/* End Menu Header */

/* Start Section Banner */
.banner {
    background:url(../img/bg-home.jpg) no-repeat center;
    background-size:cover;
    width:100%;
    height:518px;
    margin-top:90px;
    padding:90px;
}
.frase_estrutura{
    text-align:center;
}
.frase_banner {
    margin-top:40px;
}
.frase_banner h1 {
    font-size:58px;
    font-family:Allura;
    line-height:72px;
    color:#fff;
    margin:0 0 4px 0;    
}
.frase_banner h2 {
    font-size:32px;
    font-family:Poppins;
    line-height:32px;
    text-transform:uppercase;
    color:#fff;
    margin:0 0 4px 0; 
}
.frase_banner h3 {
    font-size:22px;
    font-family:Poppins;
    line-height:33px;
    letter-spacing:3px;
    text-transform:uppercase;
    color:#fff;
    margin:0 0 22px 0;
}
.frase_banner cite {
    font-size:32px;
    font-family:Allura;
    line-height:33px;
    letter-spacing:3px;
    color:#fff;
}
.btn-call {    
    background:#292C35;
    color:#E09145;
    font-size:18px;
    font-family:Poppins;
    border-radius:30px;
    padding:8px 25px;
    position: relative;
    top:37px;
    right:160px;
}
.btn-call:hover {
    color:#000;
    font-weight:600;
    background:#FCD9B8;
    transition:ease 0.5s;
}
.frase_estrutura img {
    position:relative;
    bottom:34px;
    left:77px;
}
/* End Section Banner */

/* Start Section about */
.about_estrutura {
    margin-top:90px;
}
.subtitle {
    margin-top:70px;
    text-align:center;
    font-size:36px;
    font-weight:600;
    line-height:33px;
    font-family:Poppins;
    color:#E09145;
}
.subtitle:after {
    content:"";
    width:102px;
    height:3px;
    display: block;
    margin:0 auto;
    background:#000;
    margin-top:20px;
}
.about {
    width:540px;
    height:629px;
    background:#fff;
    position:relative;
    left:400px;
    top:60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.16);    
}
.about h1 {
    position:absolute;
    bottom:500px;   
    margin-left:80px;
    font-size:36px;
    font-family:Poppins;
    font-weight:bold;
    line-height:33px;
    text-transform:uppercase;
    color:#292C35;
}
.about p {
    position:absolute;
    top:160px;
    padding-left:80px; 
    padding-right:50px; 
    font-family:Poppins;
    font-size:16px;
    text-align:justify;
    line-height:33px;
}
/* End Section about */
/* Start Section portfólio */
.estrutura {
    background:#000;
    height:797px;
    margin-top:70px;
}
.subtitle_port {
    margin-top:70px;
    text-align:center;
    font-size:36px;
    font-weight:600;
    line-height:33px;
    font-family:Poppins;
    color:#E09145;
}
.subtitle_port:after {
    content:"";
    width:102px;
    height:3px;
    display: block;
    margin:0 auto;
    background:#fff;
    margin-top:20px;
}
.cards {
    margin-top:80px;
}
.card {
    margin-right:30px;
}
.card h1 {
    color:#fff;
    font-size:36px;
    font-family:Poppins;
    line-height:33px;
    letter-spacing:.1em;
    position:relative;
    bottom:320px;
    padding-left:80px
}
.card h1:after {
    content:"";
    width:60px;
    height:3px;
    display: block;
    margin-left:40px;
    background:#fff;
    margin-top:12px;
}
.card h1:before {
    content:"";
    width:60px;
    height:3px;
    display: block;
    margin-left:40px;
    background:#fff;
    margin-bottom:12px;
}
.card h1:hover,
.card img:hover {
    color:#E09145;
    filter:brightness(90%);
    transition:ease 0.5s;
}
.card-2 {
    margin-right:35px;
    margin-left:15px;
}
.card-2 h1 {
    color:#fff;
    font-size:36px;
    font-family:Poppins;
    line-height:33px;
    letter-spacing:.1em;
    position:relative;
    bottom:320px;
    padding-left:80px
}
.card-2 h1:after {
    content:"";
    width:60px;
    height:3px;
    display: block;
    margin-left:55px;
    background:#fff;
    margin-top:12px;
}
.card-2 h1:before {
    content:"";
    width:60px;
    height:3px;
    display: block;
    margin-left:55px;
    background:#fff;
    margin-bottom:12px;
}
.card-2 h1:hover,
.card-2 img:hover {
    color:#E09145;
    filter:brightness(90%);
    transition:ease 0.5s;
}
.card-3 h1 {
    color:#fff;
    font-size:36px;
    font-family:Poppins;
    line-height:33px;
    letter-spacing:.1em;
    position:relative;
    bottom:320px;
    padding-left:80px
}
.card-3 h1:after {
    content:"";
    width:60px;
    height:3px;
    display: block;
    margin-left:55px;
    background:#fff;
    margin-top:12px;
}
.card-3 h1:before {
    content:"";
    width:60px;
    height:3px;
    display: block;
    margin-left:55px;
    background:#fff;
    margin-bottom:12px;
}
.card-3 h1:hover,
.card-3 img:hover {
    color:#E09145;
    filter:brightness(90%);
    transition:ease 0.5s;
}
/* Section Contato */
.form {
    height:672px;
    background:#292C35;
}
.form h1 {
    font-size:30px;
    font-family:Poppins;
    line-height:33px;
    text-align:center;
    color:#fff;
    margin-top:70px;
    margin-bottom:68px;
}
.form .nome {
    border:none;
    background:none;
    outline:none;
    border-bottom:1px solid #fff;
    font-size:20px;
    font-family:Poppins;
    line-height:20px;
    color:#fff;
}
.form .email {
    border:none;
    background:none;
    outline:none;
    border-bottom:1px solid #fff;
    font-size:20px;
    font-family:Poppins;
    line-height:20px;
    color:#fff;
}
.form textarea {
    margin-top:70px;
    resize:none;
    outline:none;
    border:none;
    background:none;
    outline:none;
    border-bottom:1px solid #fff;
    padding-bottom:161px;
    font-size:20px;
    font-family:Poppins;
    line-height:20px;
    color:#fff;
}
.form button {
    background:none;
    border:2px solid #E09145;    
    color:#E09145;
    font-size:18px;
    font-family:Poppins;
    border-radius:10px;
    padding:8px 70px;
    cursor: pointer;
    margin-top:68px;
    margin-left:380px;
}
.form button:hover {
    background:#E09145;
    color:#000;
    transition:ease 0.5s;
}